.item{
	border: 1px solid #DDDDDD;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.item:hover{
	background-color: #F5F5F5;
	transition: 0.5s ease;
	cursor: pointer;
}
.productname{
	text-align: center;
	margin: 0;
	position: relative;
	top: -8px;
}
.productprice{
	position: relative;
	text-align: center;
	top: -26px;
}

.productprice span{
	background-color: #FFFFFF;
	padding: 6px 10px 6px 10px;
	border-radius: 12px;
	opacity: 0.9;
	box-shadow: 1px 1px 4px grey;
}

.productname a{
	color: inherit;
}

.productname a:hover{
	text-decoration: none;
}

.productimage{
	height: 200px;
	overflow-y: hidden;
}

.item{
	height: 260px;
}

.info-table td{
	padding-left: 10px; 
}

.info-table td:first-child{
	text-align: right;
}

.ui-autocomplete{
	z-index: 1031;
	overflow-x: auto;
	overflow-y: auto;
	position: fixed;
	background-color: white;
	list-style: none;
	padding: 0;
	width: 200px;
	border-radius: 0 0 4px 4px;
	border: 1px solid #ccc;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	max-height: 150px;
	scro
}

.ui-autocomplete li{
	padding: 2px 12px;
	display: block;
}

.ui-autocomplete li:hover{
	background-color: #e6e6e6;
}